<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util                  http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 운전수가 운전할 자동차는 Santafe입니다. -->
	<bean id="santafe" class="kr.ac.kpu.ebiz.spring.lecture1.Santafe"/>

	<!-- 운전수를 선언하고 운전수가 운전할 자동차를 설정합니다. -->
	<bean id="driver" class="kr.ac.kpu.ebiz.spring.lecture1.Driver">
		<property name="car" ref="santafe"/>
	</bean>

</beans>